@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gluten', cursive;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes color-fade {
    0% {
        color: #fff;
    }
    25% {
        color: #14ffe9;
    }
    50% {
        color: #ffeb3b;
    }
    75% {
        color: #ff00e0;
    }
    100% {
        color: #fff;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #240229;

    .loader-container {
        width: 400px;
        height: 400px;
        position: relative;

        h2.text {
            color: #fff;
            position: absolute;
            z-index: 6;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            letter-spacing: 4px;
            font-style: italic;
            animation: color-fade 4s linear infinite;
        }

        .loader {
            position: relative;
            width: 100%;
            height: 100%;
            border: 4px solid #240229;
            overflow: hidden;
            border-radius: 50%;
            box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
                        10px 10px 10px rgba(0, 0, 0, 0.4),
                        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                        inset 10px 10px 10px rgba(0, 0, 0, 0.4);

                        
            &::before {
                content: '';
                position: absolute;
                top: 45px;
                left: 45px;
                right: 45px;
                bottom: 45px;
                background: #240229;
                border-radius: 50%;
                border: 2px solid #240229;
                box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
                            inset 3px 3px 3px rgba(0, 0, 0, 0.5);
                z-index: 5;
            }

            span {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                z-index: -1;
                background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
                filter: blur(20px);
                animation: animate 0.5s linear infinite;
            }
        }
    }
}