@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232c33;

  .navigation {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    max-height: 100vh;
    height: 100vh;

    background: #2b343b;
    box-shadow: 10px 0 0 #4187f6;
    border-left: 10px solid #2b343b;
    overflow-x: hidden;
    transition: width 0.5s;

    &.hovered {
        width: 300px;
    }

    ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 5px;
        padding-top: 40px;

        display: flex;
        flex-direction: column;
        padding-bottom: 32px;

        li {
            position: relative;
            list-style: none;
            width: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-top: 32px;
            z-index: 2;

            &:hover {
                background: #232a30;
                // transition: background .2s ease;
            }

            &:first-child { margin-top: 0; }
            &:nth-last-child(2) { margin-top: auto; }
            &:last-child a .icon ion-icon { transform: rotate(180deg); }

            &.active {
                background: #4187f6;
                z-index: 1;

                .corner {
                    position: absolute;
                    right: 0px;
                    width: 40px;
                    height: 40px;
                    background: #4187f6;

                    .inner {
                        background: #2b343b;
                        position: absolute;
                        width: 40px;
                        height: 40px;

                    }

                    &.top-corner {
                        top: -40px;

                        .inner { border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%; }
                    }

                    &.bottom-corner {
                        bottom: -40px;

                        .inner { border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%; }
                    }
                }
            }



            a {
                position: relative;
                display: flex;
                width: 100%;
                text-decoration: none;
                color: #fff;

                .icon {
                    position: relative;
                    display: block;
                    min-width: 60px;
                    height: 60px;
                    line-height: 70px;
                    text-align: center;

                    ion-icon {
                        position: relative;
                        font-size: 1.5em;
                    }
                }

                .title {
                    position: relative;
                    display: block;
                    padding-left: 10px;
                    height: 60px;
                    line-height: 60px;
                    white-space: nowrap;
                }
            }
        }
    }
  }
}