* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --toggle-width: 200px;
  --toggle-height: 100px;
  --toggle-bg: #222;
  --toggle-dot-width: 10px;
  --toggle-dot-height: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2b2b2b;
  gap: 64px;
}
section.active {
  background: #f8f8f8;
}
section .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--toggle-width) / 2);
  height: var(--toggle-height);
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
section #toggle {
  position: relative;
  display: block;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: 160px;
  background: var(--toggle-bg);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
section #toggle.active {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
section #toggle.active .indicator {
  left: calc(var(--toggle-width) / 2);
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}
section #checkbox {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
section #checkbox input {
  appearance: none;
  display: none;
}
section #checkbox input:checked ~ .indicator {
  left: calc(var(--toggle-width) / 2);
}
section #checkbox input:checked ~ .indicator::before {
  background: #0f0;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 0 0 2px #0f0, 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0, 0 0 25px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
}
section #checkbox span {
  transition: 0.5s;
  position: relative;
  display: block;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: 160px;
  background: var(--toggle-bg);
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}
section #checkbox .indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--toggle-dot-width);
  height: var(--toggle-dot-height);
  background: #f00;
  border-radius: 50%;
  transition: 0.5s ease;
  box-shadow: 0 0 2px #f00, 0 0 5px #f00, 0 0 10px #f00, 0 0 15px #f00, 0 0 20px #f00, 0 0 25px #f00, 0 0 30px #f00, 0 0 40px #f00;
}
section #checkbox.active {
  transition: 0.5s;
}
section #checkbox.active span {
  transition: 0.5s;
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
section #checkbox.active .indicator {
  transition: 0.5s;
  left: calc(var(--toggle-width) / 2);
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}
